state_machine.json
{
  "Comment": "Healthcare facility accreditation pipeline",
  "StartAt": "InvokeLambda",
  "States": {
    "InvokeLambda": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "healthcare-accreditation-counter",
        "Payload.$": "$"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 5,
          "MaxAttempts": 2,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "NotifyFailure",
          "ResultPath": "$.error"
        }
      ],
      "Next": "CopyResultsToProduction"
    },
    "CopyResultsToProduction": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:s3:copyObject",
      "Parameters": {
        "Bucket": "medlaunch-068410981074-us-east-1-an",
        "CopySource": "medlaunch-068410981074-us-east-1-an/athena-state-counts/state_counts_latest.csv",
        "Key": "production/state_counts_final.csv"
      },
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "NotifyFailure",
          "ResultPath": "$.error"
        }
      ],
      "Next": "PipelineSucceeded"
    },
    "PipelineSucceeded": {
      "Type": "Succeed"
    },
    "NotifyFailure": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn": "arn:aws:sns:us-east-1:068410981074:healthcare-pipeline-alerts",
        "Message": {
          "Input.$": "States.JsonToString($.error)"
        },
        "Subject": "Healthcare Pipeline Failed"
      },
      "Next": "PipelineFailed"
    },
    "PipelineFailed": {
      "Type": "Fail",
      "Error": "PipelineFailed",
      "Cause": "See SNS notification for details"
    }
  }
}